@import "tailwindcss";

@layer base {
  body {
    @apply antialiased bg-gray-950 text-gray-100;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full hover:bg-gray-600;
}